In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import json

feature_json_root = './feature_importances/drop_outliers/'

In [2]:
os.listdir(feature_json_root)

['feature_importance_gain (1).json']

In [4]:
# load feature importance gain data
f_gain = open(feature_json_root + 'feature_importance_gain (1).json')
data_gain = json.load(f_gain)
f_gain.close()
imp_gain = pd.DataFrame({ 'feature_name': data_gain.keys(), 'gain_importance': data_gain.values() })
imp_gain = imp_gain.sort_values(by='gain_importance', ascending=False)
imp_gain.head()
# load feature importance split data
# f_split = open(feature_json_root + 'feature_importance_split.json')
# data_split = json.load(f_split)
# f_split.close()
# imp_split = pd.DataFrame({ 'feature_name': data_split.keys(), 'split_importance': data_split.values() })
# imp_split = imp_split.sort_values(by='split_importance', ascending=False)

# imp = pd.merge(imp_split, imp_gain, on=['feature_name'], how = 'left')
# imp['sum'] = imp['gain_importance'] + imp['split_importance']
# print("The NaN count in imp : imp_gain : imp_split", imp.isna().sum().sum(), imp_gain.isna().sum().sum(), imp_split.isna().sum().sum())

                            feature_name  gain_importance
8        log_return1_realized_volatility    200584.435448
104  log_return1_realized_volatility_150    169712.330908
0                               stock_id     14190.946215
12       log_return2_realized_volatility     14052.130403
72   log_return1_realized_volatility_300     13276.820839

In [7]:
imp_gain.describe()

       gain_importance
count       241.000000
mean       2082.191344
std       16928.579205
min           0.000000
25%          48.983938
50%          93.806897
75%         462.383746
max      200584.435448

In [8]:
# select gain data
percent = [25, 40, 50, 75]
threshold = [48, 80, 93, 462]
for i in range(3):
    imp_gain.loc[imp_gain['gain_importance'] > threshold[i]].to_csv(f'features_gain_importance_{percent[i]}percent.csv')

In [ ]:
fig, ax = plt.subplots(figsize=(10, 20))
sns.set_color_codes("pastel")
sns.barplot(x="gain_importance", y="feature_name", data=imp.loc[(imp['gain_importance'] > 126) & (imp['gain_importance'] < 25000)].sort_values(by='gain_importance', ascending=False), ax=ax, color='b')
ax.set_title('gain importance')

In [ ]:
fig, ax = plt.subplots(figsize=(10, 20))
sns.set_color_codes("pastel")
sns.barplot(x="split_importance", y="feature_name", data=imp.loc[imp['split_importance'] > 163].sort_values(by='split_importance', ascending=False), ax=ax, color='b')
ax.set_title('split importance')

In [ ]:
fig, ax = plt.subplots(figsize=(10, 20))
sns.set_color_codes("pastel")
sns.barplot(x="sum", y="feature_name", data=imp.loc[imp['sum'] > 280].sort_values(by='sum', ascending=False), ax=ax, color='b')
ax.set_title('sum importance')

In [ ]:
imp.loc[imp['sum'] > 281].to_csv('selected_feature_by_sum50percent.csv')

In [ ]:
imp.loc[imp['sum'] > 750].to_csv('selected_feature_by_sum75percent.csv')

In [ ]:
imp.loc[imp['sum'] > 200].to_csv('selected_feature_by_sum25percent.csv')